.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}


.mt-5 {
    margin-top: 3rem!important;
} 

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

 .no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.pb-5 {
    padding-bottom: 3rem!important;
}
.pt-5 {
    padding-top: 3rem!important;
}
.pl-4 {
    padding-left: 1.5rem!important;
}
.pr-4 {
    padding-right: 1.5rem!important;
} 


.pb-lg-3 {
    padding-bottom: 3rem!important;
}
.pt-lg-3 {
    padding-top: 1rem!important;
}
.mt-lg-0 {
    margin-top: 0!important;
}
.ml-auto {
    margin-left: auto!important;
}
.mr-auto {
    margin-right: auto!important;
}

.mt-4 {
    margin-top: 1.5rem!important;
}



.mt-lg-0 {
    margin-top: 0!important;
}
.ml-auto {
    margin-left: auto!important;
}
.mr-auto {
    margin-right: auto!important;
}
.mt-4 {
    margin-top: -2.5rem!important;
}
