{% extends "./inc_base.html" %} {% block style %}
<link href="/static/assets/css/layout-question.css" rel="stylesheet" type="text/css" />
<link href="/static/css/froala_blocks.css" rel="stylesheet" type="text/css" />
<link href="/static/css/demo.css" rel="stylesheet" type="text/css" /> 
<link href="/static/css/creative.min.css" rel="stylesheet"> {% endblock %} {% block content %}


<header class="masthead">
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading" style="color: #f2f2f2;">爱毕帮软件工作室
				<br> 是一家专业设计定做计算机软件的工作室
			</h1>
			<hr>
			<!-- <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
			<a class="btn btn-primary btn-xl" href="/shop">作品</a>
			&nbsp;&nbsp;&nbsp;
			<a class="btn btn-info btn-xl" href="/#services">服务</a>
		</div>
	</div>
</header>


<div id="prices">
<section  class="fdb-block bg-dark" style="background-image: url(/static/imgs/bg_1.svg);height:770px;">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1 style="color: #f2f2f2;font-size: 50px;">价格</h1>
        </div>
      </div>

      <div class="row mt-5 align-items-center no-gutters" >
        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center">
          <div class="bg-gray pb-5 pt-5 pl-4 pr-4">
            <h2 class="font-weight-light">成品</h2>

            <p class="text-h1 mt-5 mb-5"><strong>￥200</strong> </p>

            <ul class="text-left">
              <li>软件成品</li>
              <li>运行视频</li>
              <li>安装调试</li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 ml-auto mr-auto col-lg-4 text-center mt-4 mt-lg-0 sl-1 pt-0 pt-lg-3 pb-0 pb-lg-3 bg-gray fdb-touch">
          <div class="pb-5 pt-5 pl-4 pr-4">
            <h2 class="font-weight-light">定做</h2>

            <p class="text-h1 mt-5 mb-5"><strong>￥500+</strong> </p>

            <ul class="text-left">
				<li>根据需求定做</li>
				<li>运行视频</li>
				<li>安装调试</li>
				<li>问题解答</li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-sm-10 col-md-8 m-auto col-lg-4 text-center">
          <div class="bg-gray pb-5 pt-5 pl-4 pr-4">
            <h2 class="font-weight-light">成品全套</h2>

            <p class="text-h1 mt-5 mb-5"><strong>￥400+</strong></p>

            <ul class="text-left">
				<li>软件成品/文档(论文/PPT)</li>
				<li>运行视频</li>
				<li>安装调试</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div id="services">

	<section class="fdb-block" style="background-image: url(/static/imgs/bg_3.svg);height:770px;">
		<div class="container">
		  <div class="row">
			<div class="col-12 text-center">
			  <h1 style="font-size: 50px;">我们提供的服务</h1>
			</div>
		  </div>
	
		  <div class="row text-left justify-content-center pt-5">
			<div class="col-12 col-md-6  m-auto">
			  <h3><strong>毕设软件成品</strong></h3>
	
			  <p class="text-h3">本工作室有大量计算机毕设软件成品出售，作品可提供设计、程序源代码、可执行程序、文档说明报告PPT等全套资料。</p>
			</div>
			<div class="col-12 col-md-6  m-auto pt-3 pt-md-0">
			  <h3><strong>毕设软件定做</strong></h3>
	
			  <p class="text-h3">我们是由一支专业的软件开发人员和在校教师组成，专注于设计定做计算机毕设软件/课程设计，诚信提供软件设计、程序修改服务。</p>
			</div>
		  </div>
	
		  <div class="row text-left justify-content-center pt-lg-4">
			<div class="col-12 col-md-6  m-auto pt-3 pt-lg-0">
			  <h3><strong>软件系统开发</strong></h3>
	
			  <p class="text-h3">可以开发公司门户网站，管理系统，微信小程序，微信公众号等系统软件</p>
			</div>
			<div class="col-12 col-md-6  m-auto pt-3 pt-lg-0">
			  <h3><strong>IT教育培训</strong></h3>
	
			  <p class="text-h3">依托多年IT经验，为广大学生和IT人员提供一对一IT培训，主要涉及各种前瞻技术培训，大数据开发培训等多个课程</p>
			</div>
		  </div>
		</div>
	  </section>

</div>

<section>
	<div class="container">
		<!-- {{11|show_ad("code")|safe}} -->
		<div class="row">

			{%if 14|show_ad('code')%}

			<!-- INFO BAR -->
			<div class="margin-top-20 col-md-12 ">
				{{14|show_ad('code')|safe}}
			</div>
			<!-- /INFO BAR -->
			{%endif%}
			<!-- RIGHT -->
			<div class="col-sm-9 margin-top-20">

				<ul class="nav nav-tabs nav-justified" style="position: inherit;background-color: #f1f2f7">
					<li class="active">
						<a href="#new" data-toggle="tab" class="size-18">最新</a>
					</li>
					{{HOOK@hometitle|safe}} {#
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#dropdown1" tabindex="-1" data-toggle="tab">@fat</a>
							</li>
							<li>
								<a href="#dropdown2" tabindex="-1" data-toggle="tab">@mdo</a>
							</li>
						</ul>
					</li>
					#}
				</ul>
				<div class="panel panel-default" style="margin-top: -5px">
					<div class="panel-body padding-10">

						<div class="tab-content">
							<div class="tab-pane fade in active" id="new">
								{% topic data = "newlist",limit="10"%} {% for val in newlist %} {% set categoryname = val.category_id|get_cate %} {%if val.model_id==4%}
								{% set pic = val.pics|strToArray%}
								<!-- POST ITEM -->
								<div class="blog-post-item padding-bottom-20 margin-bottom-20 clearfix">

									<!-- IMAGE -->
									{% if pic[0]>0 %}
									<figure class="blog-item-small-image margin-bottom-0">
										<img class="img-responsive lazy" data-original="{{pic[0]|get_pic('m=1,w=200,h=120')}}" alt="">
									</figure>
									{% endif %}
									<div class="blog-item-small-content">
										<h2>
											<a href="{{val.name|get_url(val.id)}}" target="_blank" title="{{val.title}}">{{val.title|truncate(50, true, "...")}}</a>
										</h2>

										<ul class="blog-post-info list-inline padding-bottom-10">
											<li>
												<a href="#">
													<i class="fa fa-clock-o"></i>
													<span class="font-lato">{{val.create_time|moment('YYYY-MM-DD HH:mm')}}</span>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-comment-o"></i>
													<span class="font-lato">{{val.view}}</span>
												</a>
											</li>
											<li>
												<i class="fa fa-folder-open-o"></i>

												<a class="category" href="{{categoryname.url}}">
													<span class="font-lato">{{categoryname.name}}</span>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-user"></i>
													<span class="font-lato">{{val.uid|get_nickname}}</span>
												</a>
											</li>
										</ul>

										<p>
											<div class="shop-item-price" style="font-size: 20px;margin-top: 6px;font-weight: bold; float: left">
												{% if val.price|get_price_format('2') %}
												<span class="line-through" style="color: #999;font-size: 15px;display: inline-block;padding: 0 10px;font-weight: 400;">¥{{val.price|get_price_format('2')}}</span>{%endif%} ¥{{val.price|get_price_format('1')}}
											</div>
											<div class="shop-item-buttons" style="float: left;margin-left: 15px">
												<a class="btn btn-default" href="{{val.name|get_url(val.id)}}" target="_blank">
													<i class="fa fa-cart-plus"></i> 立即购买</a>
												<!-- replace data-item-id width the real item ID - used by js/view/demo.shop.js -->
												<a class="btn btn-default add-wishlist" href="#" data-item-id="1" data-toggle="tooltip" title="" data-original-title="Add To Wishlist">
													<i class="fa fa-heart nopadding"></i>
												</a>
												<a class="btn btn-default add-compare" href="#" data-item-id="1" data-toggle="tooltip" title="" data-original-title="Add To Compare">
													<i class="fa fa-bar-chart-o nopadding" data-toggle="tooltip"></i>
												</a>
											</div>
										</p>
									</div>

								</div>
								<!-- /POST ITEM -->
								{%elif val.model_id === 10 %}
								<!-- POST ITEM -->
								<div class="blog-post-item padding-bottom-20 margin-bottom-20 clearfix">
									<div class="ribbon">
										<div class="ribbon-inner">{% if null|getnow
											< val.create_time %}未开幕{%elif (null|getnow> val.create_time) and (null|getnow
												< val.deadline)%}展览中{%elif null|getnow> val.deadline%}已结束{%endif%}</div>
									</div>
									<!-- IMAGE -->
									{% if val.cover_id>0 %}
									<figure class="blog-item-small-image margin-bottom-0">
										<img class="img-responsive lazy" data-original="{{val.cover_id|get_pic('m=1,w=200,h=120')}}" alt="">
									</figure>
									{% endif %}
									<div class="blog-item-small-content">
										<h2>
											<a href="{{val.name|get_url(val.id)}}" target="_blank" title="{{val.title}}">{{val.title|truncate(50, true, "...")}}</a>
										</h2>

										<ul class="blog-post-info list-inline padding-bottom-10">
											<li>
												<a href="#">
													<i class="fa fa-clock-o"></i>
													<span class="font-lato">{{val.create_time|moment('YYYY-MM-DD HH:mm')}}</span>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-comment-o"></i>
													<span class="font-lato">{{val.view}}</span>
												</a>
											</li>
											<li>
												<i class="fa fa-folder-open-o"></i>

												<a class="category" href="{{categoryname.url}}">
													<span class="font-lato">{{categoryname.name}}</span>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-user"></i>
													<span class="font-lato">{{val.uid|get_nickname}}</span>
												</a>
											</li>
										</ul>

										<div class="alert alert-mini alert-success ">
											<!-- SUCCESS -->
											<strong></strong>
											<span style="width: 60px">
												<i class="fa fa-calendar-check-o"></i> 开始:</span> {{ val.create_time|moment('YYYY-MM-DD') }}
											<span style="width: 60px">
												<i class="fa fa-calendar-times-o"></i> 结束:</span> {{val.deadline|dateformat('Y-m-d')}}
											<span style="width: 60px">
												<i class="fa fa-map-marker"></i> 地点:</span> {{val.id|getmodelfield(val.model_id,'addr')}}
										</div>

									</div>

								</div>
								<!-- /POST ITEM -->
								{%else%}
								<!-- POST ITEM -->
								<div class="blog-post-item padding-bottom-20 margin-bottom-20 clearfix">

									<!-- IMAGE -->
									{% if val.cover_id>0 %}
									<figure class="blog-item-small-image margin-bottom-0">
										<img class="img-responsive lazy" data-original="{{val.cover_id|get_pic('m=1,w=200,h=120')}}" alt="">
									</figure>
									{% endif %}
									<div class="blog-item-small-content">
										<h2>
											<a href="{{val.name|get_url(val.id)}}" target="_blank" title="{{val.title}}">{{val.title|truncate(50, true, "...")}}</a>
										</h2>

										<ul class="blog-post-info list-inline padding-bottom-10">
											<li>
												<a href="#">
													<i class="fa fa-clock-o"></i>
													<span class="font-lato">{{val.create_time|moment('YYYY-MM-DD HH:mm')}}</span>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-comment-o"></i>
													<span class="font-lato">{{val.view}}</span>
												</a>
											</li>
											<li>
												<i class="fa fa-folder-open-o"></i>

												<a class="category" href="{{categoryname.url}}">
													<span class="font-lato">{{categoryname.name}}</span>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-user"></i>
													<span class="font-lato">{{val.uid|get_nickname}}</span>
												</a>
											</li>
										</ul>

										<p>{{val.description|truncate(90, true, "...")}}</p>
									</div>

								</div>
								<!-- /POST ITEM -->
								{%endif%} {%endfor%}
							</div>
							{{HOOK@homelist|safe}}

						</div>
					</div>
				</div>
			</div>
			<!-- LEFT -->
			<div class="col-md-3 col-sm-3 margin-top-20">


				<div class="panel panel-default margin-bottom-0">
					<div class="panel-heading">
						<a class="btn btn-primary btn-xs pull-right">
							<i class="fa fa-fire"></i>
						</a>
						<h2 class="panel-title">热点</h2>
					</div>
					<div class="panel-body con " style="height: 354px">
						<ol class="current">
							{%model data="hotnews",table="document",order="view DESC,create_time DESC",limit="10",cache="1000"%} {% for val in hotnews
							%}
							<li>
								<span {%if loop.index < 4 %}class="topRank" {%endif%}>{{loop.index}}</span>
								<a target="_blank" href="{{val.name|get_url(val.id)}} ">{{val.title}}</a>
							</li>
							{%endfor%}
						</ol>
					</div>
				</div>

				{% if controller.is_login %}
				<div class="alert alert-info margin-bottom-20 box-shadow-4">
					<!-- INFO -->
					今天，你遇到了什么问题呢？
					<a href="/mod/question/sys/add/?cid=123" class="btn btn-primary btn-3d btn-block margin-top-10">提问</a>
				</div>
				{%else%}
				<div class="alert alert-info margin-bottom-20 box-shadow-4">
					<!-- INFO -->
					你好! 你还没有登录，请先登录.
					<a class="btn btn-block btn-social btn-dropbox margin-top-10  " href="/center/public/login" data-toggle="ajaxModal">
						<i class="fa fa-sign-in"></i> 登录{{config.setup.WEB_SITE_TITLE}}
					</a>
				</div>
				{%endif%} {{13|show_ad('code')|safe}}
			</div>


		</div>


	</div>
	<div class="container">
		{{HOOK@homeEnd|safe}}
	</div>
</section>

{% endblock %} {%block script%} {%endblock%}